ul {
    margin: 0;
}

.langs {
    list-style-type: none;
    padding-left: 0;
}

.langs > li{
    border-bottom: 1px solid lightblue;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 20vw;
}

@media only screen and (max-width:767px) {
    .card-img-top {
        height: 40vw;
    }
}
