header {
    text-align: center;
}

header > p {
    font-size: larger;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 20vw;
}

@media only screen and (max-width:1999px){
    .card-img-top {
        height: 25vw;
    }
}

@media only screen and (max-width:1399px){
    .card-img-top {
        height: 25vw;
    }
}

@media only screen and (max-width:767px){
    .card-img-top{
        height: 45vw;
    }
}

.card-body {
    padding: 1vh;
}

