/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family:'Noto Serif' ;
} */

:root {
    --bg_color:#0A0C11;
    --padding-8: 0 8% 0 8%
}

body {
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 5px;
    /*color: lightgray;*/
}
/*
nav a:hover {
    color:lightblue;
}
*/

.card {
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    transition: transform .1s;
}

a > .card-img-top:hover {
    transform: scale(1.15);
}

.card-body {
    padding: 1vh;
    z-index: 1;
    background-color: inherit;
}

footer {
    text-align: center;
}