/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family:'Noto Serif' ;
} */

:root {
    --bg_color:#0A0C11;
    --padding-8: 0 8% 0 8%
}

body {
    margin: 0;
    padding: 0;
}

.titleText, .navText, .headText, .bodyText, .footerText {
    display: none;
}

/* 
nav ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 0px 10px 10px 0;*/
    /*color: lightgray;
}*/

/*
nav a:hover {
    color:lightblue;
}
*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 1.5rem 3rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
} 

.header ul {
    margin: 0;
    display: flex;
    gap: 1.9rem;
    list-style-type: none;
}

.header a {
    font-size: calc(1rem + 1vw);
    text-decoration: none;
}

.card-text {
    font-size: 1.25rem;
    text-decoration: none;
}

.header a:hover, .card-text:hover {
    border-bottom: 2px solid rgba(var(--bs-link-color-rgb));
}

main {
    padding: 1em;
}

.card {
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    transition: transform .1s;
}

a > .card-img-top:hover {
    transform: scale(1.15);
}

.card-body {
    padding: 1vh;
    z-index: 1;
    background-color: inherit;
}


footer {
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialLogo {
    width: auto;
    height: 2rem;
    margin: 0 0.5rem 0.5rem;
}

@media screen and (min-width: 1200px) {
    .header a {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:530px) {
    .header {
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

    .header ul {
        flex-direction: column;
        padding: 0;  
        gap: 1rem;     
    }

    nav {
        text-align: center;
    }
}

